@media screen and (max-width: 768px) {}
/* Estilo para el logo en el encabezado */
img#logo {
    float: left;
    width: 100px;
    height: auto;
    margin-right: 20px;
}

/* Estilo para el botón de reserva en la barra de navegación */
#reservar-link {
    float: right;
    background-color: #ffffff;
    color: #282828;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Agregar estilo de enlace para que parezca un botón */
}

/* Estilo para el botón de reserva en hover */
#reservar-link:hover {
    background-color: #E5C9AE; /* Cambiar color al pasar el mouse */
}


#reserva {
    display: none;
    /* Otros estilos */
  }
  

/* Clearfix para el encabezado */
header::after {
    content: "";
    display: table;
    clear: both;
}

/* Estilo para el encabezado */
header {
    background-color: #482919;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1%; /* Cambiado de 5px a 1% */
    overflow: hidden; /* Limpiar el float dentro del encabezado */
}

/* Estilo para el título principal */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Estilo para la navegación */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.804);
    font-weight: bold;
}

/* Estilo para las secciones */
section {
    background-color: #e5d4c32c;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Estilo para el pie de página */
footer {
    background-color: #553725;
    color: white;
    text-align: center;
    padding: 36px;
    margin-top: 10px;
}

/* Estilo para el logo en el footer */
img#logo-footer {
    width: 200px;
    height: auto;
    vertical-align: middle;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

/* Estilo para los divs en el footer */
.footer-div {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 20px;
}

/* Estilo para los títulos en los divs */
.footer-div h3 {
    font-size: 18px;
}

/* Estilo para el segundo div (Enlaces de Interés) */
#enlaces-interes {
    float: right;
    margin-right: 0;
    color: white;
}

/*-----------------------------------------------------------------*/
/* Estilo para el contenedor del carrusel de imágenes */
#carousel-container-inicio {
    position: relative; /* Cambiado a relativo para que los elementos absolutos se posicionen en relación con este contenedor */
    height: 50vh; /* Ajusta la altura según sea necesario */
}

/* Estilo para el contenedor del video de Facebook */

#fb-video-container {
    position: absolute;
    top: 10%; /* Ajusta el valor según sea necesario para acercar el video al texto o la barra de navegación */
    left: 50%; /* Cambiado de 30% a 50% para centrar horizontalmente */
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 800px;
    z-index: 2;
}

/* Estilos adicionales para dispositivos pequeños */
@media screen and (max-width: 768px) {
    #fb-video-container {
        width: 90%;
        left: 50%; /* Cambiado de 5% a 50% para centrar horizontalmente */
    }
}


/*-----------------------------------------------------------------*/
/* Estilo para el carrusel de la seccion de inicio  */
#carousel-container-inicio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: carousel-inicio 30s infinite;
    background-size: cover;
    margin-bottom: 1px;
}
#map-container {
    margin-bottom: 1px; /* Ajusta el margen inferior según tus preferencias */
}

@keyframes carousel-inicio {
    0%, 100% {
        background-image: url('fotos/IMG_49266.png');
    }
    20% {
        background-image: url('fotos/IMG_49269.png');
    }
    40% {
        background-image: url('fotos/IMG_5157.png');
    }
    60% {
        background-image: url('fotos/IMG_6.png');
    }
    80% {
        background-image: url('fotos/2.png');
    }
}
/*---------------------------------------------------------------------------------------------------------*/
/* Estilos para el cuadro de texto de información del hotel */
.hotel-info-container {
    background-color: #E5C9AE; /* Color de fondo del cuadro */
    padding: 15px; /* Espaciado interno del cuadro */
    border-radius: 10px; /* Borde redondeado */
    margin-top: 20px; /* Margen superior para separarlo de otros elementos */
    overflow: hidden; /* Oculta el contenido que sobresale del cuadro */
    float: right; /* Alinea el cuadro a la derecha */
    max-width: 35%; /* Establece el ancho máximo del cuadro */
    box-sizing: border-box; /* Incluye relleno y bordes en el ancho total */
}

.hotel-info-container h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.hotel-info-container p {
    margin-bottom: 15px;
    line-height: 1.4;
    overflow: hidden; /* Oculta el contenido que sobresale del cuadro */
    max-height: 90px; /* Establece la altura máxima por defecto */
}

#verMasBtn {
    background-color: #D6AB7D;
    color: #ffffff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Muestra el botón como un bloque para ajustar el ancho automáticamente */
    margin-top: 10px; /* Añade un espacio superior para separarlo del texto */
}

#verMasBtn:hover {
    background-color: #553725;
}

/*--------------------------------------------------------------------------------------------------*/
#redes-sociales-container {
    display: flex;
    align-items: center;
    margin-top: 500px; /* Ajusta el valor según la separación que desees */
}

/* Estilo para el texto "Síguenos en:" */
#siguenos-texto {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Utiliza la fuente que prefieras */
    font-size: 20px;
    font-weight: bold; /* Hace que el texto sea más notable */
    color: #fbfbfb;
    margin-right: 10px;
}

/* Estilo para los íconos de redes sociales */
.social-icon {
    font-size: 40px; /* Ajusta el tamaño de los íconos */
    margin-right: 15px; /* Añade un espacio entre los íconos */
    color: #333; /* Color por defecto */
    transition: color 0.3s ease; /* Transición de color al pasar el mouse */
}

/* Colores específicos para cada red social */
.facebook { color: #1877f2; }
.instagram { color: #bc2a8d; }
.tiktok { color: #69c9d0; }

/* Cambia el color al pasar el mouse */
.social-icon:hover {
    color: #f61212; /* Nuevo color al pasar el mouse */
}
/*-----------------------------------------------------------------------------*/
/*Estilos para las amenidades en la secion de inicio*/
#amenidades {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #E5C9AE; /* Color de fondo intercalado */
    padding: 10px; /* Espaciado interno */
    border-radius: 10px; /* Borde redondeado */
    margin-top: 20px; /* Margen superior para separarlo de otros elementos */
}

.amenidad {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos verticalmente */
    color: #D6AB7D; /* Color del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
}

.amenidad i {
    font-size: 30px; /* Tamaño del icono */
    margin-bottom: 10px; /* Espacio inferior entre el ícono y el texto */
    transition: color 0.3s ease; /* Transición de color al pasar el mouse */
}

.amenidad p {
    margin-top: 5px; /* Espacio superior entre el ícono y el texto */
    font-size: 14px; /* Tamaño del texto */
}

/* Línea de división */
.amenidad:not(:last-child) {
    border-right: 1px solid #D6AB7D;
}

/* Centrar el icono horizontalmente */
.amenidad i {
    margin-left: auto;
    margin-right: auto;
}

/* Cambio de color al pasar el mouse */
.amenidad:hover i {
    color: #E5C9AE; /* Cambia el color del ícono */
}


/*Estilos para el carrusel de imagenes de fondo de la seccion reservar*/
#carousel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: carousel 30s infinite;
    background-size: cover;
  }
  
  @keyframes carousel {
    0%, 100% {
      background-image: url('fotos/IMG_49266.png');
    }
    20% {
      background-image: url('fotos/IMG_49269.png');
    }
    40% {
      background-image: url('fotos/IMG_5157.png');
    }
    60% {
      background-image: url('fotos/IMG_6.png');
    }
    80% {
    background-image: url('fotos/2.png');
    }
  }
  

  #reserva {
    position: relative;
    padding: 20px;
    border-radius: 20px;
    width: 80%; /* Modificado de 100% a 80% para que sea un poco más pequeño */
    margin: 0 auto;
    background-color: #55372567;
    z-index: 1;
    text-align: center; /* Centra el contenido */
  }

  #reserva h2 {
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 10px; /* Añadido espacio entre el título y el párrafo */
    color: #ffffff;
}

#reserva p {
    font-size: 16px; /* Ajusta el tamaño del párrafo según tus preferencias */
    line-height: 1.5; /* Ajusta el espacio entre líneas para mejorar la legibilidad */
    margin-bottom: 20px; /* Añadido espacio al final del párrafo */
    color: #ffffff;
}
    

/* Estilos para la sección de reserva */
.reserva-container {
    padding: 20px;
    border-radius: 20px;
    max-width: 500px;
    margin: 0 auto;

}
/* Estilos adicionales para el formulario de reserva */
#reserva-form {
    background-color: #482919c9;;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    color: #ffffff;
}

#reserva select,
#reserva input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #fffdfd00; /* Añadido borde alrededor de los campos */
    border-radius: 10px; /* Borde redondeado */
}

#reserva button {
    background-color: #E5C9AE;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilo para el botón de reservación */
.reservacion-button {
    text-align: center;
    margin: 20px 0;
}

.reservacion-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E5C9AE; /* Color de fondo del botón */
    color: #282828; /* Color del texto del botón */
    text-decoration: none; /* Quita el subrayado del enlace */
    border-radius: 5px; /* Borde redondeado */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Transición de color al pasar el mouse */
}

.reservacion-button a:hover {
    background-color: #9B744A; /* Cambia el color al pasar el mouse */
}
/*--------------------------------------------------------------------------------------------------------*/
#servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(80, 223, 55, 0.1);
}

/* Nuevo contenedor para los servicios */
#servicios-container {
    text-align: center;
    background-color: rgba(237, 234, 234, 0.592);
    padding: 20px 10px; /* Ajuste del padding horizontal */
    border-radius: 20px;
    margin-bottom: 10px;
    width: 80%; /* Ajuste del ancho del cuadro */
    margin: 0 auto; /* Centra el cuadro en el contenedor */
}

/* Ajustes para mostrar los servicios en tres filas de tres columnas */
#servicios-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - 20px); /* Ajusta el ancho de cada servicio y el espacio entre columnas */
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.servicio-item:hover i {
    transform: scale(1.2); /* Ajusta el tamaño al pasar el mouse */
}

.servicio-item i {
    font-size: 60px;
    margin-bottom: 10px;
    color: #D6AB7D;
    transition: transform 0.3s ease;
}

.servicio-item span {
    text-align: center;
}

/* Ajustes para el cuadro de texto */
#servicios-container {
    max-width: 800px; /* Ajusta el ancho máximo del contenedor de servicios */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 20px; /* Ajusta el espaciado interno del contenedor */
    background-color: #e5d4c3a8;
    border-radius: 20px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Añadir estilos adicionales para el carrusel de imágenes de fondo */
#carousel-container-servicios {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: carousel-servicios 30s infinite;
    background-size: cover;
}

@keyframes carousel-servicios {
    0%, 100% {
        background-image: url('fotos/IMG_49266.png');
    }
    20% {
        background-image: url('fotos/IMG_49269.png');
    }
    40% {
        background-image: url('fotos/IMG_5157.png');
    }
    60% {
        background-image: url('fotos/IMG_6.png');
    }
    80% {
        background-image: url('fotos/2.png');
    }
}

/*-----------------------------------------------------------------------------------------------*/
/* Estilo para el carrusel de fondo de la sección de habitaciones */
#carousel-container-habitaciones {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: carousel-habitaciones 30s infinite;
    background-size: cover;
}

@keyframes carousel-habitaciones {
    0%, 100% {
        background-image: url('fotos/IMG_49266.png');
    }
    20% {
        background-image: url('fotos/IMG_49269.png');
    }
    40% {
        background-image: url('fotos/IMG_5157.png');
    }
    60% {
        background-image: url('fotos/IMG_6.png');
    }
    80% {
        background-image: url('fotos/2.png');
    }
}

/* Estilo para la sección de habitaciones */
.habitaciones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilo para el título "Nuestras habitaciones" */
.habitaciones-titulo {
    font-size: 3em; /* Tamaño del título */
    color: #f3e2d1; /* Color del texto */
    margin-bottom: 20px; /* Espaciado inferior */
    text-align: center; /* Centrar el texto */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    font-weight: bold; /* Texto en negrita */
    text-shadow: 2px 2px 4px rgba(17, 14, 14, 0.786); /* Sombra del texto */
}

/* Estilo para el párrafo "Ofrecemos una variedad..." */
.habitaciones-descripcion {
    font-size: 1.2em; /* Tamaño del texto */
    color: #ffffff; /* Color del texto */
    text-align: center; /* Centrar el texto */
    max-width: 800px; /* Ancho máximo del párrafo */
    margin: 0 auto 40px auto; /* Centrar el párrafo en el contenedor y agregar espacio inferior */
    line-height: 1.6; /* Altura de línea para mejorar la legibilidad */
}

/* Estilo para una animación sutil en el título */
.habitaciones-titulo:hover {
    transform: scale(1.1); /* Cambio de escala al pasar el mouse */
    color: #f6f2ee; /* Cambio de color al pasar el mouse */
    transition: transform 0.3s ease, color 0.3s ease; /* Transición suave */
}

/* Estilo para un borde alrededor del título al pasar el mouse */
.habitaciones-titulo:hover::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fbcb9a;
    position: absolute;
    bottom: -10px;
    left: 0;
}


/* Estilo para cada habitación */
.habitacion {
    width: 300px; /* Ajuste del ancho de la habitación */
    margin: 15px;
    background-color: #f4ca9dc8;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Estilo para la imagen */
.habitacion img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Ajuste del tamaño máximo de la imagen */
    border-radius: 10px;
}

/* Estilo para el contenido de texto */
.habitacion .contenido-texto {
    flex: 1;
    margin-left: 15px; /* Ajuste del margen izquierdo */
}

.habitacion h3 {
    font-size: 20px; /* Ajuste del tamaño del título */
    margin-bottom: 10px; /* Ajuste del margen inferior del título */
}

.habitacion p {
    margin-bottom: 10px; /* Ajuste del margen inferior del párrafo */
}

.habitacion i {
    font-size: 24px; /* Ajuste del tamaño del icono */
    margin-right: 5px; /* Ajuste del margen derecho entre el icono y el texto */
}

.habitacion:hover,
.habitacion:focus {
    transform: scale(1.05);
}


/*------------------------------------------------------------------------------------------*/
/* Estilo para la sección del restaurante */
#restaurante {
    background-color: #f7f7f767;
    padding: 50px 0;
    text-align: center;
}

/* Estilo para el título del restaurante SARATOGA */
#restaurante h2 {
    color: #241a1a;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Estilo para el párrafo de la sección del restaurante */
#restaurante p {
    color: #210101;
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto 30px auto;
}

/* Estilo para cada restaurante */
.restaurante {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e5c9ae85;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

/* Estilo para las imágenes de los restaurantes */
.restaurante img {
    max-width: 30%; /* Ajuste del ancho máximo de la imagen */
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

/* Estilo para el contenido de texto en cada restaurante */
.restaurante .contenido-texto {
    max-width: 60%;
    color: #282828;
    text-align: left;
    padding: 20px;
    background-color: #debea2c0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Efecto de escala en la imagen al pasar el mouse */
.restaurante:hover img {
    transform: scale(1.05);
}

/* Estilo para los cuadros de texto de cada restaurante */
.restaurante .texto-container {
    background-color: #c1906d68;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los párrafos de texto */
.restaurante p {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* Estilo para los íconos en los párrafos */
.restaurante i {
    margin-right: 5px;
    font-size: 16px;
    color: #ff8c42;
}

/* Estilo para el carrusel de fondo de la sección de restaurante */
#carousel-container-restaurante {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: carousel-restaurante 30s infinite;
    background-size: cover;
}

/* Añadir clase específica para el segundo restaurante y moverlo a la derecha */
.restaurante:nth-child(2) .contenido-texto {
    max-width: 60%;
    margin-left: auto;
    order: -1;
}

@keyframes carousel-restaurante {
    0%, 100% {
        background-image: url('fotos/IMG_49266.png');
    }
    20% {
        background-image: url('fotos/IMG_49269.png');
    }
    40% {
        background-image: url('fotos/IMG_5157.png');
    }
    60% {
        background-image: url('fotos/IMG_6.png');
    }
    80% {
        background-image: url('fotos/2.png');
    }
}

/* Estilos para pantallas más pequeñas (ej. tabletas y móviles) */
@media screen and (max-width: 768px) {
    #restaurante h2 {
        font-size: 2em;
    }

    #restaurante p {
        font-size: 1em;
    }

    .restaurante .contenido-texto {
        font-size: 14px;
    }
}


/*-----------------------------------------------------------------------------------------------*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Estilos para la sección de galería */
#galeria {
    text-align: center;
    padding: 50px 20px;
    background-color: #f2f2f2;
}

#carrusel-habitaciones,
#carrusel-restaurantes,
#carrusel-eventos {
    margin-top: 30px;
}

.carrusel-container {
    width: 100%; /* Ajustado al 100% */
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #ccc; /* Borde para visualizar mejor */
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel-items {
    display: flex;
    width: 1800px; /* Ajustado para permitir espacio para todas las imágenes */
}

.carrusel-item {
    margin-right: 10px;
}

.carrusel-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Flechas de navegación del carrusel (puedes personalizarlas) */
.carrusel-prev,
.carrusel-next {
    cursor: pointer;
    font-size: 24px;
    margin-top: 50px;
    color: #333;
}

/* Puedes agregar más estilos según tus preferencias */
