@media screen and (max-width: 768px) {}
/* Estilo para el logo en el encabezado */
img#logo {
    float: left;
    width: 100px;
    height: auto;
    margin-right: 20px;
}

/* Estilo para el botón de reserva en la barra de navegación */
#reservar-link {
    float: right;
    background-color: #ffffff;
    color: #282828;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Agregar estilo de enlace para que parezca un botón */
}

/* Estilo para el botón de reserva en hover */
#reservar-link:hover {
    background-color: #E5C9AE; /* Cambiar color al pasar el mouse */
}


#reserva {
    display: none;
    /* Otros estilos */
  }
  

/* Clearfix para el encabezado */
header::after {
    content: "";
    display: table;
    clear: both;
}

/* Estilo para el encabezado */
header {
    background-color: #482919;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1%; /* Cambiado de 5px a 1% */
    overflow: hidden; /* Limpiar el float dentro del encabezado */
}

/* Estilo para el título principal */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Estilo para la navegación */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.804);
    font-weight: bold;
}

/* Estilo para las secciones */
section {
    background-color: #e5d4c32c;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Estilo para el pie de página */
footer {
    background-color: #553725;
    color: white;
    text-align: center;
    padding: 36px;
    margin-top: 10px;
}

/* Estilo para el logo en el footer */
img#logo-footer {
    width: 200px;
    height: auto;
    vertical-align: middle;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

/* Estilo para los divs en el footer */
.footer-div {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 20px;
}

/* Estilo para los títulos en los divs */
.footer-div h3 {
    font-size: 18px;
}

/* Estilo para el segundo div (Enlaces de Interés) */
#enlaces-interes {
    float: right;
    margin-right: 0;
    color: white;
}

/*-----------------------------------------------------------------*/
/* Estilo para el contenedor del carrusel de imágenes */
#carousel-container-inicio {
    position: relative; /* Cambiado a relativo para que los elementos absolutos se posicionen en relación con este contenedor */
    height: 50vh; /* Ajusta la altura según sea necesario */
}

/* Estilo para el contenedor del video de Facebook */

#fb-video-container {
    position: absolute;
    top: 10%; /* Ajusta el valor según sea necesario para acercar el video al texto o la barra de navegación */
    left: 50%; /* Cambiado de 30% a 50% para centrar horizontalmente */
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 800px;
    z-index: 2;
}

/* Estilos adicionales para dispositivos pequeños */
@media screen and (max-width: 768px) {
    #fb-video-container {
        width: 90%;
        left: 50%; /* Cambiado de 5% a 50% para centrar horizontalmente */
    }
}


/*-----------------------------------------------------------------*/
/* Estilo para el carrusel de la seccion de inicio  */
#carousel-container-inicio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: carousel-inicio 30s infinite;
    background-size: cover;
    margin-bottom: 1px;
}
#map-container {
    margin-bottom: 1px; /* Ajusta el margen inferior según tus preferencias */
}

@keyframes carousel-inicio {
    0%, 100% {
        background-image: url('fotos/IMG_49266.png');
    }
    20% {
        background-image: url('fotos/IMG_49269.png');
    }
    40% {
        background-image: url('fotos/IMG_5157.png');
    }
    60% {
        background-image: url('fotos/IMG_6.png');
    }
    80% {
        background-image: url('fotos/2.png');
    }
}
/*---------------------------------------------------------------------------------------------------------*/
/* Estilos para el cuadro de texto de información del hotel */
.hotel-info-container {
    background-color: #E5C9AE; /* Color de fondo del cuadro */
    padding: 15px; /* Espaciado interno del cuadro */
    border-radius: 10px; /* Borde redondeado */
    margin-top: 20px; /* Margen superior para separarlo de otros elementos */
    overflow: hidden; /* Oculta el contenido que sobresale del cuadro */
    float: right; /* Alinea el cuadro a la derecha */
    max-width: 35%; /* Establece el ancho máximo del cuadro */
    box-sizing: border-box; /* Incluye relleno y bordes en el ancho total */
}

.hotel-info-container h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.hotel-info-container p {
    margin-bottom: 15px;
    line-height: 1.4;
    overflow: hidden; /* Oculta el contenido que sobresale del cuadro */
    max-height: 90px; /* Establece la altura máxima por defecto */
}

#verMasBtn {
    background-color: #D6AB7D;
    color: #ffffff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Muestra el botón como un bloque para ajustar el ancho automáticamente */
    margin-top: 10px; /* Añade un espacio superior para separarlo del texto */
}

#verMasBtn:hover {
    background-color: #553725;
}

/*--------------------------------------------------------------------------------------------------*/
#redes-sociales-container {
    display: flex;
    align-items: center;
    margin-top: 500px; /* Ajusta el valor según la separación que desees */
}

/* Estilo para el texto "Síguenos en:" */
#siguenos-texto {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Utiliza la fuente que prefieras */
    font-size: 20px;
    font-weight: bold; /* Hace que el texto sea más notable */
    color: #fbfbfb;
    margin-right: 10px;
}

/* Estilo para los íconos de redes sociales */
.social-icon {
    font-size: 40px; /* Ajusta el tamaño de los íconos */
    margin-right: 15px; /* Añade un espacio entre los íconos */
    color: #333; /* Color por defecto */
    transition: color 0.3s ease; /* Transición de color al pasar el mouse */
}

/* Colores específicos para cada red social */
.facebook { color: #1877f2; }
.instagram { color: #bc2a8d; }
.tiktok { color: #69c9d0; }

/* Cambia el color al pasar el mouse */
.social-icon:hover {
    color: #f61212; /* Nuevo color al pasar el mouse */
}
/*-----------------------------------------------------------------------------*/
/*Estilos para las amenidades en la secion de inicio*/
#amenidades {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #E5C9AE; /* Color de fondo intercalado */
    padding: 10px; /* Espaciado interno */
    border-radius: 10px; /* Borde redondeado */
    margin-top: 20px; /* Margen superior para separarlo de otros elementos */
}

.amenidad {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos verticalmente */
    color: #D6AB7D; /* Color del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
}

.amenidad i {
    font-size: 30px; /* Tamaño del icono */
    margin-bottom: 10px; /* Espacio inferior entre el ícono y el texto */
    transition: color 0.3s ease; /* Transición de color al pasar el mouse */
}

.amenidad p {
    margin-top: 5px; /* Espacio superior entre el ícono y el texto */
    font-size: 14px; /* Tamaño del texto */
}

/* Línea de división */
.amenidad:not(:last-child) {
    border-right: 1px solid #D6AB7D;
}

/* Centrar el icono horizontalmente */
.amenidad i {
    margin-left: auto;
    margin-right: auto;
}

/* Cambio de color al pasar el mouse */
.amenidad:hover i {
    color: #E5C9AE; /* Cambia el color del ícono */
}


/*------------------------------------------------------------------------------------------*/
/*Estilos para el carrusel de imagenes de fondo de la seccion reservar*/
#carousel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: carousel 30s infinite;
    background-size: cover;
  }
  
  @keyframes carousel {
    0%, 100% {
      background-image: url('fotos/IMG_49266.png');
    }
    20% {
      background-image: url('fotos/IMG_49269.png');
    }
    40% {
      background-image: url('fotos/IMG_5157.png');
    }
    60% {
      background-image: url('fotos/IMG_6.png');
    }
    80% {
    background-image: url('fotos/2.png');
    }
  }
  

  #reserva {
    position: relative;
    padding: 20px;
    border-radius: 20px;
    width: 80%; /* Modificado de 100% a 80% para que sea un poco más pequeño */
    margin: 0 auto;
    background-color: #55372567;
    z-index: 1;
    text-align: center; /* Centra el contenido */
  }

  #reserva h2 {
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 10px; /* Añadido espacio entre el título y el párrafo */
    color: #ffffff;
}

#reserva p {
    font-size: 16px; /* Ajusta el tamaño del párrafo según tus preferencias */
    line-height: 1.5; /* Ajusta el espacio entre líneas para mejorar la legibilidad */
    margin-bottom: 20px; /* Añadido espacio al final del párrafo */
    color: #ffffff;
}
    

/* Estilos para la sección de reserva */
.reserva-container {
    padding: 20px;
    border-radius: 20px;
    max-width: 500px;
    margin: 0 auto;

}
/* Estilos adicionales para el formulario de reserva */
#reserva-form {
    background-color: #482919c9;;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    color: #ffffff;
}

#reserva select,
#reserva input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #fffdfd00; /* Añadido borde alrededor de los campos */
    border-radius: 10px; /* Borde redondeado */
}

#reserva button {
    background-color: #E5C9AE;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilo para el botón de reservación */
.reservacion-button {
    text-align: center;
    margin: 20px 0;
}

.reservacion-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E5C9AE; /* Color de fondo del botón */
    color: #282828; /* Color del texto del botón */
    text-decoration: none; /* Quita el subrayado del enlace */
    border-radius: 5px; /* Borde redondeado */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Transición de color al pasar el mouse */
}

.reservacion-button a:hover {
    background-color: #9B744A; /* Cambia el color al pasar el mouse */
}
/*--------------------------------------------------------------------------------------------------------*/
#servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(80, 223, 55, 0.1);
}

/* Estilo para los servicios */
.servicios-contenido {
    text-align: center;
    background-color: rgba(237, 234, 234, 0.592);
    padding: 20px 10px; /* Ajusta el padding horizontal */
    border-radius: 20px;
    margin-bottom: 10px;
    width: 100%; /* Ajusta el ancho del cuadro */
    margin: 0 auto; /* Centra el cuadro en el contenedor */
}

.servicio {
    width: 25%; /* Ajusta el ancho de cada servicio */
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 10px;
}

.servicio h3 {
    font-size: 16px;
    margin: 5px 0;
}

.servicio p {
    font-weight: normal;
    margin: 5px 0;
}

.servicio i {
    font-size: 24px; /* Ajusta el tamaño del icono según tus preferencias */
    color: #333; /* Ajusta el color del icono */
    margin-bottom: 10px; /* Agrega un margen inferior para separar el icono del título */
}



/* Estilo para el contenedor de habitaciones */
.habitaciones-container {
    display: flex;
    justify-content: space-between; /* Colocar las habitaciones equidistantes */
    flex-wrap: wrap; /* Permitir que las habitaciones se envuelvan si el espacio es insuficiente */
}

/* Estilo para cada habitación */
.habitacion {
    flex: 0 0 calc(33.33% - 10px); /* Establecer el ancho de cada habitación (33.33% del ancho total) con espacio entre ellas */
    background-color: #e5c9aed1; /* Fondo blanco o el color que desees */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px; /* Espacio inferior entre habitaciones */
    box-sizing: border-box; /* Incluir relleno en el ancho total */
}
/* Estilo para las imágenes de las habitaciones */
.habitacion img {
    max-width: 100%; /* Establece el ancho máximo al 100% del contenedor */
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
}

/* Estilo para el contenedor de restaurante */
.restaurante-container {
    display: flex;
    justify-content: space-between; /* Colocar las habitaciones equidistantes */
    flex-wrap: wrap; /* Permitir que las habitaciones se envuelvan si el espacio es insuficiente */
}

/* Estilo para cada habitación */
.restaurante {
    flex: 0 0 calc(33.33% - 10px); /* Establecer el ancho de cada habitación (33.33% del ancho total) con espacio entre ellas */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco o el color que desees */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px; /* Espacio inferior entre habitaciones */
    box-sizing: border-box; /* Incluir relleno en el ancho total */
}
/* Estilo para las imágenes de las habitaciones */
.restaurante img {
    max-width: 100%; /* Establece el ancho máximo al 100% del contenedor */
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
}

/*estilos para el carrusel de imagenes */
body {
    margin: 0;
  }
.carrusel {
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.carrusel-items {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 2% 0; /* Ajustado el padding */
}

.carrusel-item {
  min-width: 15%;
  max-width: 15%;
  height: 200px;
  outline: 2px solid black;
  cursor: pointer;
}

.carrusel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carrusel-item:hover {
  transform: scale(1.2);
}
